header {
  text-align: center;
  font-family: monospace;
}
body {
  background-color: #C0C0C0;
}
.quote {
  text-align: center;
  font-size: 80%;
  font-family: cursive;
}
.bartender {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  width: 60%;
}
